<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@1.5.6/dist/index.min.css">
  {% include "style.njk" %}
</head>
<body>
    <header>
        <div class="wrapper spacing gutters">
            <a class="radar-text" rel="home" href="{{ '/' | url }}"><i style="text-transform: uppercase;">Tracker</i></a>
        </div>
    </header>
    <nav class="wrapper spacing gutters">
        <div class="conjoined ghost">
            <a href="{{ '/books' | url }}">📚</a>
            <a href="{{ '/movies' | url }}">🍿</a>
            <a href="{{ '/series' | url }}">📺</a>
            <a href="{{ '/wishlist' | url }}">🎁</a>
        </div>
    </nav>
    <main class="wrapper gutters spacing">
         {{ content | safe }}
    </main>
    <footer class="site-footer flow">
        <div class="wrapper spacing gutters">
            <div class="footer-grid">
                <div class="column">
                    <p>API</p>
                    <div class="">
                        <a href="{{ '/api/Books.json' | url }}">Books</a>
                        <a href="{{ '/api/Movies.json' | url }}">Films</a>
                        <a href="{{ '/api/Series.json' | url }}">TV</a>
                    </div>
                </div>
                <div class="column">
                    <p>My Year in Lists</p>
                    <div>
                        {% for year, posts in collections.mediaByYear %}
                            <a href="{{ ('/this-year/' + year) | url }}">{{ year }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <p>Collections</p>
                    <div class="">
                        <a href="{{ '/books' | url }}">📚 All books</a>
                        <a href="{{ '/movies' | url }}">🍿 All films</a>
                        <a href="{{ '/series' | url }}">📺 All telly</a>
                        <a href="{{ '/wishlist' | url }}">🎁 Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper spacing gutters">
            <p>
                &copy; 2025 <a href="https://thomasrigby.com">Thomas Rigby</a>
            </p>
        </div>
    </footer>
</body>
</html>
