<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/victormono@1.5.6/dist/index.min.css">
  {% include "style.njk" %}
</head>
<body>
    <header>
        <div class="wrapper spacing gutters">
            <a rel="home" href="{{ '/' | url }}">Tracker</a>
        </div>
    </header>
    <nav class="wrapper spacing gutters">

        <div>
            <p>My Year in Lists</p>
            <div class="conjoined">
                {%- for year, posts in collections.mediaByYear -%}
                    <a href="{{ ('/this-year/' + year) | url }}">{{ year }}</a>
                {%- endfor -%}
            </div>
        </div>

    </nav>
    <main class="wrapper gutters spacing">
         {{ content | safe }}
    </main>
    <footer class="flow">
        <div class="wrapper spacing gutters">
                    <div>
            <p>API</p>
            <div class="conjoined">
                <a href="{{ '/api/Books.json' | url }}">Books</a>
                <a href="/{{ '/api/Movies.json' | url }}">Films</a>
                <a href="{{ '/api/Series.json' | url }}">TV</a>
            </div>
        </div>
                <div>
            <p>Collections</p>
            <div class="conjoined">
                <a href="{{ '/books' | url }}">📚 All books</a>
                <a href="{{ '/wishlist' | url }}">🎁 Wishlist</a>
            </div>
        </div>
        </div>
        <div class="wrapper spacing gutters">
            <p>
                &copy; 2025 <a href="https://thomasrigby.com">Thomas Rigby</a>
            </p>
        </div>
    </footer>
</body>
</html>
