---
layout: base.njk
---

<h1>{{ title }}<span class="meta">{% if subtitle %}<br/><em>{{ subtitle }}</em>{% endif %}<br />{{ author }}</span></h1>

<div class="flow" style="--flow-gap: 2lh;">
<section>
{% set medium = {
    title: title,
    subtitle: subtitle,
    author: author,
    director: director,
    actors: actors,
    coverUrl: coverUrl,
    poster: poster,
    description: description,
    published: published,
    year: year,
    isbn: isbn,
    bookshopUrl: bookshopUrl,
    reviewUrl: reviewUrl,
    owned: owned,
    shelf: shelf,
    start_date: start_date,
    end_date: end_date,
    rating: rating,
    watched: watched,
    self: true
} %}
{% set slug = slug | slugify %}
{% set path = "/books/" ~ slug %}
{% include "card.njk" %}
</section>
<section>
<h2>YAML for Review</h2>
<pre>
---
public: false
title: "Book Review — {{ title }} by {{ author }}"
date:
tags:
  - entertainment
  - books
  - review
{% for tag in tags %}  - {{ tag }}
{% endfor -%}
description: "One of my sporadic book reviews"
layout: "book-review"
hero: "/images/book-review.jpg"
teaserImage: true
permalink: /posts/book-review-{{ title | slugify }}-{{ author | slugify }}
book:
  title: "{{ title }}"
  author: "{{ author }}"
  publishedDate: "{{ published }}"
  rating: "{{ rating or '0'}}"
  url: "{{ bookshopUrl or 'https://www.ebooks.com/en-gb/searchapp/searchresults.net?term=' ~ (isbn or (title | urlencode ~ '%20' ~ author | urlencode)) }}"
---
</pre>
</section>
</div>
