---
layout: base.njk
---

<h1>{{ title }} ({{ subtitle }}) by {{ author }}</h1>

<div class="grid">
  <!-- First tab: set to open -->
  <details class="item" name="alpha" open style="--n: 1;">
    <summary class="subitem">Meta Data</summary>
    <div class="details-content">
      <div class="card">
        <figure class="card-image"><img src="{{ coverUrl }}"></figure>
        <div class="card-title flow">
          <p class="title"><strong>{{ title }}</strong></p>
          {% if subtitle %}<p class="card-subtitle"></p>{% endif %}
          <p>{{ author }}</p>
        </div>
        <div class="card-author">
          {{ rating }}/5 @ {{ finished_date }}
        </div>
      </div>
    </div>
  </details>

  <details class="item" name="alpha" style="--n: 2;">
    <summary class="subitem">Review YAML</summary>
    <div class="details-content">
      <h2>YAML for Review</h2>
      <pre>
---
public: false
title: "Book Review — {{ title }} by {{ author }}"
date:
tags:
  - entertainment
  - books
  - review
{% for tag in tags %}  - {{ tag }}
{% endfor %}
description: "One of my sporadic book reviews"
layout: "book-review"
hero: "/images/book-review.jpg"
teaserImage: true
book:
  title: "{{ title }}"
  author: "{{ author }}"
  publishedDate: "{{ published }}"
  rating: "{{ rating or '0'}}"
  url: "{{ bookshopUrl or 'https://www.ebooks.com/en-gb/searchapp/searchresults.net?term=' ~ (isbn or (title | urlencode ~ '%20' ~ author | urlencode)) }}"
---
      </pre>
    </div>
  </details>
</div>
