<article class="txb-card border">
    <div class="column">
        <figure class="flow">
        {% if medium.coverUrl %}
            <img src="{{ medium.coverUrl }}" alt="Book cover art for {{ medium.title }}" loading="lazy">
            <figcaption>Book cover art for {{ medium.title }} by {{ medium.author }}</figcaption>
        {% elif medium.poster %}
            <img src="{{ medium.poster }}" alt="Poster for {{ medium.title }}" loading="lazy">
            <figcaption>Poster for {{ medium.title }}</figcaption>
        {% endif %}
        </figure>
    </div>
    <div class="column">
        <div class="book-meta flow">
            <h3>
                <span>{{ medium.title }}</span>
     			{% if medium.subtitle %}
    			<br /><em>{{ medium.subtitle }}</em>
    			{% endif %}
            </h3>
            {% if medium.author %}
            <p>
                {{ medium.author | join(", ") }}
            </p>
            {% elif medium.director %}
            <p>Directed by {{ medium.director }}</p>
            <p>Starring {{ medium.actors | join(", ") }}</p>
            {% endif %}
            {% if medium.published %}
            <p>
                <time datetime="{{ medium.published }}">{{ medium.published | humanReadableDate }}</time>
            </p>
            {% elif medium.year %}
            <p>
                <time datetime="{{ medium.year }}">{{ medium.year }}</time>
            </p>
            {% endif %}
            {% if medium.description %}
            <details>
                <summary>{{ medium.description | truncate(140, true, '…') }}</summary>
                {{ medium.description }}
            </details>
            {% endif %}
        </div>
        <div class="link-wrapper">
            {% if medium.self != true %}
            <a class="border" href="{{ path | url }}">View details</a>
            {% endif %}
            {% if medium.author %}
                {% if medium.bookshopUrl %}
                    {% set bookshopUrl = medium.bookshopUrl %}
                {% elif medium.isbn %}
                    {% set bookshopUrl = "https://www.ebooks.com/en-gb/searchapp/searchresults.net?term=" ~ medium.isbn %}
                {% else %}
                    {% set bookshopUrl = "https://www.ebooks.com/en-gb/searchapp/searchresults.net?term=" ~ (medium.title | urlEncode ~ '%20' ~ medium.author | urlEncode) %}
                {% endif %}
                <a class="border" href="{{ bookshopUrl }}">Buy a copy</a>
            {% endif %}
			{% if medium.reviewUrl %}
            <a class="border" href="{{ medium.reviewUrl }}">Read a review</a>
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="reading-meta flow">
        {% if medium.owned == true %}
			<p>I own this!</p>
		{% endif %}
		{% if medium.shelf == 'reading' and medium.start_date %}
			<p>I started reading this on {{ medium.start_date | humanReadableDate }}</p>
		{% endif %}
		{% if medium.shelf == 'read' and medium.end_date %}
			<p>
				I last read this on {{ medium.end_date | humanReadableDate }}
				{% if medium.rating %}
					and I gave it {{ medium.rating }} stars out of 5
				{% endif %}
			</p>
		{% endif %}
		{% if medium.shelf == 'watched' and medium.watched %}
			<p>
				I last watched this on {{ medium.watched | humanReadableDate }}
				{% if medium.rating %}
					and I gave it {{ medium.rating }} stars out of 5
				{% endif %}
			</p>
		{% endif %}
        </div>
    </div>
</article>
