<style>
.shelf-cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 3/4;
  padding: 2rem;
  overflow: clip;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}
.shelf-cover h4 {
  margin-block-start: auto;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
}
.shelf-cover h4 .meta {
  font-size: 1rem;
}
.shelf-cover a {
  position: relative;
}
.shelf-cover a:before {
    content: '';
    position: absolute;
    inset: 0; /* or top: 0; right: 0; bottom: 0; left: 0; */
  }

</style>

<article
  class="shelf-cover border"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url({% if medium.coverUrl %}{{ medium.coverUrl }}{% elif medium.poster %}{{ medium.poster }}{% endif %});
  "
>
  <h4>
    {{ medium.title }}
    <span class="meta">
    {% if medium.type == 'movie' %}
    <br />({{ medium.director }}, {{ medium.year }})</span>
    {% elif medium.type == 'series' %}
    <br />({{ medium.director }}, {{ medium.year }})</span>
    {% elif medium.author %}
    <span class="meta">
      {% if medium.subtitle %}
      <br/><em>{{ medium.subtitle }}</em>{% endif %}
      <br /><i>{{ medium.author }}</i>
    {% else %}
     yer da wears crocs
    {% endif %}
    </span>
  </h4>
  <a class="border" href="{{ path | url }}">View details</a>
</article>
