---
layout: base.njk
---

<h1>{{ title }}<br /><span class="meta">({{ director }}, {{ year }})</span></h1>

<div class="grid">
  <!-- First tab: set to open -->
  <details class="item" name="alpha" open style="--n: 1;">
    <summary class="subitem border">Meta Data</summary>
    <div class="details-content border">
        {% set medium = {
          title: title,
          subtitle: subtitle,
          author: author,
          director: director,
          actors: actors,
          coverUrl: coverUrl,
          poster: poster,
          description: description,
          published: published,
          year: year,
          isbn: isbn,
          bookshopUrl: bookshopUrl,
          reviewUrl: reviewUrl,
          owned: owned,
          shelf: shelf,
          start_date: start_date,
          end_date: end_date,
          rating: rating,
          watched: watched,
          self: true
        } %}
        {% set slug = slug | slugify %}
        {% set path = "/series/" ~ slug %}
        {% include "card.njk" %}
    </div>
  </details>

  <details class="item" name="alpha" style="--n: 2;">
    <summary class="subitem">Review YAML</summary>
    <div class="details-content">
      <h2>YAML for Review</h2>
      <pre>
---
public: false
title: "Review {{ title }} {{ director }} {{ year }}"
date:
tags:
 - review
 - entertainment
 - tv
 {%- for tag in tags %}- {{ tag }}{% endfor %}
description: "One of my sporadic telly reviews"
layout: "review"
rating: "{{ rating or "0" }}"
---
      </pre>
    </div>
  </details>
</div>
