<style>
:root {
    color-scheme: light dark;
    font-family: "Victor Mono", system-ui, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
header .wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}
header nav {
    margin-inline-start: auto;
}
header span {
    font-weight: bold;
    font-style: italic;
}
.wrapper {
    width:100%;
    max-width: 67ch;
    margin-inline: auto;
}
.gutters {
    padding-inline: 1rem;
}
.spacing {
    padding-block: 1lh;
}
.flow >*+* {
    margin-block-start: 1lh;
}
a {
    color: light-dark(teal, goldenrod);
}

.card {
    border: 1px solid currentColor;
    padding: 2ch;
}
</style>
