---
  layout: "base.njk"
---

<section class="flow">
    <h2>All Books</h2>
{% for book in Books | reverse %}
{% set medium = book.frontmatter %}
{% set slug = book.slug | slugify %}
{% set path = "/books/" ~ slug %}
{% include "card.njk" %}
{% endfor %}
</section>
