---
  layout: "base.njk"
---

<section class="flow">
    <h2>🍿 All Films</h2>
    <div class="grid">
      {% for film in Movies | reverse %}
          {% set medium = film.frontmatter %}
          {% set slug = film.slug | slugify %}
          {% set path = "/movies/" ~ slug %}
          {% include "shelf-cover.njk" %}
      {% endfor %}
    </div>
</section>
