---
title: Tracker by Thomas Rigby
layout: "base.njk"
---

<section class="flow" style="--flow-gap: 2lh;">
    <h2>Latest</h2>
    <section class="flow" style="--flow-gap: 1lh;">
    <h3>Books</h3>
    <div class="grid">
    {% for book in Books | reverse %}
        {% if book.frontmatter.shelf == "reading" %}
        {% set medium = book.frontmatter %}
        {% set slug = book.slug | slugify %}
        {% set path = "/books/" ~ slug %}
        {% include "shelf-cover.njk" %}
        {% endif %}
    {% endfor %}
    </div>
    </section>
    <section class="section">

    <h3>Films</h3>
    <div class="grid">
    {% for film in Movies | watched %}
    {% set medium = film.frontmatter %}
    {% set slug = film.slug | slugify %}
    {% set path = "/movies/" ~ slug %}
    {% include "shelf-cover.njk" %}
    {% endfor %}
    </div>
    </section>

    <section class="section">

    <h3>Television</h3>
    <div class="grid">

    {% for show in Series | watched %}
    {% set medium = show.frontmatter %}
    {% set slug = show.slug | slugify %}
    {% set path = "/series/" ~ slug %}
    {% include "shelf-cover.njk" %}
    {% endfor %}
    </div>
    </section>
</section>
