---
title: Tracker by Thomas Rigby
layout: "base.njk"
---

<section class="flow">
    <h2>Latest</h2>
    <h3>Books</h3>
    <ul>
    {% for book in Books | reverse %}
        {% if book.frontmatter.shelf == "reading" %}
        {% set slug = book.slug | slugify %}
        {% set permalink = "books/" ~ slug %}
        <li><a class="{{ 'current' if book.frontmatter.shelf == 'reading' }}" href="{{ permalink | url }}"><em><strong>&ldquo;{{ book.frontmatter.title }}&rdquo;</strong></em></a> by <strong>{{ book.frontmatter.author }}</strong></li>
        {% endif %}
    {% endfor %}
    </ul>
    <h3>Films</h3>
    <ul>
    {% for film in Movies | watched %}
    {% set slug = film.slug | slugify %}
    {% set permalink = "movies/" ~ slug %}
        <li><a href="{{ permalink | url }}"><em><strong>&ldquo;{{ film.frontmatter.title }}&rdquo;</strong></em></a> (Dir. <strong>{{ film.frontmatter.director }}</strong>, {{ film.frontmatter.year }})</li>
    {% endfor %}
    </ul>
    <h3>Television</h3>
    <ul>

    {% for show in Series | watched %}
    {% set slug = show.slug | slugify %}
    {% set permalink = "series/" ~ slug %}
        <li><a href="{{ permalink | url }}"><em><strong>&ldquo;{{ show.frontmatter.title }}&rdquo;</strong></em></a> (Dir. <strong>{{ show.frontmatter.director }}</strong>, {{ show.frontmatter.year }})</li>
    {% endfor %}
    </ul>
</section>
