---
  layout: "base.njk"
---

<section class="flow">
    <h2>My wishlist</h2>
    <p>Books I want to read but do not yet own.</p>
{% for book in Books | reverse %}
    {% if book.frontmatter.shelf == 'to-read' and not book.frontmatter.owned %}
    {% include "book-card.njk" %}
    {% endif %}
{% endfor %}
</section>
